services:
  mysql:
    image: mysql:8.0
    container_name: wp-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wppassword
    volumes:
      - mysql_data:/var/lib/mysql

    ports:
      - "3306:3306"

  wordpress:
    image: wordpress:php8.2-apache
    container_name: wp-app
    depends_on:
      - mysql
      - mailpit
    restart: always
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppassword
    volumes:
      - wordpress_files:/var/www/html
      - ./wp-content:/var/www/html/wp-content
      - ./php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini

  adminer:
    image: adminer
    container_name: wp-adminer
    restart: always
    ports:
      - "8081:8080"

  mailpit:
    image: axllent/mailpit
    container_name: wp-mailpit
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"

  wpcli:
    image: wordpress:cli
    depends_on:
      - wordpress
      - mysql
    volumes:
      - wordpress_files:/var/www/html
      - ./wp-content:/var/www/html/wp-content
    working_dir: /var/www/html
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppassword
    entrypoint: ["sh", "-c", "tail -f /dev/null"]


volumes:
  mysql_data:
  wordpress_files:

